*.opensdf
*.ipch
*.obj
*.sdf
*.suo
*.sdf
*.tlog
*.log
*.unsuccessfulbuild
*.idb
*.pdb
*.ipch
._Game.sdf1
*.exe
*.manifest
*.log
*.vcxproj
*.filters
*.user
Game.sdf
Game.suo
ipch/game-61826163/game-e1e59f66.ipch
data
Debug/Game.exe
Debug/Game.ilk

Debug/terrain.hvk
*.png
*.png
*.hvk
*.db
*.opendb
*.db-shm
/.vs/Game/v15
/Backup
*.bsc
*.res
/Game/Debug/Game_manifest.rc
/Game/Debug/Game.vcxprojAssemblyReference.cache
/Game/Debug/Game.lastbuildstate
/Game/app.ico
*.rc
*.lastbuildstate
*.stamp
*.depend
*.dll
/media
/_UpgradeReport_Files
*.ilk
*.sbr
